h1{
  color: #007dfd;
  margin: 0px;
}

svg{
  padding: 6px;
  display: inline;
}

.hidden{
  display: none;
}

#tooltip{
  position: absolute;
  pointer-events: none;
  background: white;
  border: 2px solid black;
  padding: 3px;
  font: 10pt Sans-Serif;
}

#tooltip p{
  padding: 0px;
  margin: 0px;
}

.tooltipLabel{
  color: #007dfd;
  font-weight: bold;
  pointer-events: none;
}